In [35]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler

In [27]:
df_1103 = pd.read_csv("data/df_1103.csv")
# df_1201 = pd.read_csv("data/df_1201.csv")

In [28]:
df_1103['dt'] = pd.to_datetime(df_1103['datetime'])
df_1103.set_index('dt', inplace=True)
df_1103.drop(['Unnamed: 0', 'datetime', 'AQS_Code'], axis=1, inplace=True)

In [30]:
df_1103.columns = ['no2','co','so2','rh','temp','ozone','y']

In [31]:
df_1103

                       no2      co  so2    rh  temp  ozone     y
dt
2015-01-01 08:00:00  32.90  1.1620  0.5  49.0  41.2  0.007  46.0
2015-01-01 09:00:00  32.20  1.2735  0.0  55.0  39.9  0.007  59.0
2015-01-01 10:00:00  30.70  0.8810  0.3  56.0  39.1  0.006  66.0
2015-01-01 11:00:00  31.50  0.4940  0.0  47.0  38.0  0.008  54.0
2015-01-01 12:00:00  30.60  0.3105  0.1  40.0  38.1  0.006  50.0
...                    ...     ...  ...   ...   ...    ...   ...
2022-07-01 03:00:00   6.85  0.2000  0.0  18.0  67.0  0.032  13.5
2022-07-01 04:00:00   7.95  0.2000  0.0  18.0  67.0  0.029  13.2
2022-07-01 05:00:00   8.40  0.2000  0.0  18.0  67.0  0.026  11.8
2022-07-01 06:00:00  11.95  0.3000  0.0  18.0  67.0  0.021  13.2
2022-07-01 07:00:00  11.25  0.3000  0.2  18.0  67.0  0.021  13.7

[65712 rows x 7 columns]

In [33]:
scaler = MinMaxScaler()
df_1103_s = scaler.fit_transform(df_1103)

In [34]:
df_1103_s

array([[0.40671642, 0.41105263, 0.07857143, ..., 0.04801097, 0.03783784,
        0.09506399],
       [0.39800995, 0.44039474, 0.04285714, ..., 0.03017833, 0.03783784,
        0.11882998],
       [0.37935323, 0.33710526, 0.06428571, ..., 0.01920439, 0.03243243,
        0.13162706],
       ...,
       [0.10199005, 0.15789474, 0.04285714, ..., 0.40192044, 0.14054054,
        0.03254113],
       [0.14614428, 0.18421053, 0.04285714, ..., 0.40192044, 0.11351351,
        0.03510055],
       [0.13743781, 0.18421053, 0.05714286, ..., 0.40192044, 0.11351351,
        0.03601463]])